.login-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  .login-logo {
    margin: 20px;
    border: black 2px solid;
    border-radius: 50%;
  }
  .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    border: #324d67 1px solid;
    border-radius: 6px;
    margin-bottom: 12px;
    .login-input {
      background-color: white;
      width: 320px;
      padding: 16px;
      margin-top: 16px;
      border-radius: 6px;
      border: #324d67 1px solid;
    }
    .button-login {
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 500;
      width: 100%;
      border: 2px solid white;
      padding: 16px 16px;
      transition: all ease 0.3s;
      cursor: pointer;
      background-color: black;
      color: white;
      border-radius: 20px;
      margin-top: 16px;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  .login-registry {
    text-align: center;
    .login-text {
      color: rgb(110, 141, 228);
      &:hover {
        color: blue;
      }
    }
  }
}
