.order-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .order-wrapper {
    display: flex;
    gap: 20px;

    .info-order {
      display: flex;
      flex-direction: column;
      border: #8e2de2 1px solid;
      height: 100%;
      padding: 20px 60px;
      gap: 20px;
      .products {
        display: flex;
        flex-direction: column;
        gap: 10px;
        .product {
          display: flex;
          gap: 30px;

          .cart-product-image {
            width: 80px;
            height: 100px;
            border-radius: 15px;
            background-color: #ebebeb;
          }
          .item-desc {
            .top {
              flex-wrap: wrap;
              gap: 10px;
            }
            .flex {
              display: flex;
              justify-content: space-between;
              width: 100px;
              color: #324d67;

              h5 {
                font-size: 24px;
              }
              h4 {
                font-size: 20px;
              }
            }
          }
        }
      }
      button {
        background-color: #8e2de2;
        color: white;
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 10px;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .info-user {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .edit-profile-content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 500px;
        align-items: center;
        border: black 1px solid;
        border-radius: 10px;
        padding: 40px 20px;
        .edit-profile-info {
          display: flex;
          flex-direction: column;
          gap: 10px;
          width: 400px;
          .heading {
            font-size: 20px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
          .input-edit-profile {
            margin-top: 8px;
            border: black 1px solid;
            border-radius: 10px;
            padding: 10px;
          }
        }
      }
    }
  }
}
